.shared-content {
  background-color: rgba(246, 243, 59, 0.24);
  transition: background-color 0.2s ease;
  mix-blend-mode: multiply;

  &.ProseMirror-selectednode {
    outline: 2px solid rgba(246, 243, 59, 0.5);
  }
}

pre.shared-content {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(246, 243, 59, 0.24);
    pointer-events: none;
    mix-blend-mode: multiply;
    border-radius: 6px/0.375rem;
  }
}

.dark {
  .shared-content {
    background-color: rgba(246, 243, 59, 0.36);
    mix-blend-mode: hard-light;
  }

  pre.shared-content::before {
    background-color: rgba(246, 243, 59, 0.36);
    mix-blend-mode: hard-light;
  }
}
